<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if post.title %}
    <title>{{ post.title | escape }}</title>
    <meta name="description" content="{{ post.excerpt }}">
  {% else if page.description %}
    <title>{{ page.title | escape }}</title>
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <title>{{ site.title | escape }}</title>
    <meta name="description" content="Alicja Raszkowska's website">
  {% endif %}

  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  >

  <link rel="icon" href="{{ '/favicon.ico' | prepend: site.baseurl | prepend: site.url }}">

  {% feed_meta %}

  <style>
    {% capture critical %}
      {% include blog.scss %}
    {% endcapture %}
    {{ critical | scssify }}
  </style>
</head>
