<header role="banner">
  <hgroup id="header-title">
    <h1><a href="/">Alicja Raszkowska</a></h1>
  </hgroup>
  <nav role="navigation" id="main-navigation">
    <ul>
      <li><a href="/blog">blog &middot;</a></li>
      <li><a href="/ideas">ideas &middot;</a></li>
      <li><a href="/resume">resume &middot;</a></li>
    </ul>
  </nav>
  <ul id="external-links">
    <li>
      <a href="https://github.com/trueskawka">github &middot;</a>
    </li>
    <li>
      <a href="https://twitter.com/mamrotynka">twitter</a>
    </li>
  </ul>
</header>
